/* ==========  Desktop First  ========== */
@media only screen and (max-width: 1440px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 1336px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 1280px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 1200px) {
  /* делать это разрешение */
}

@media screen and (max-width: 1190px) {
  /* делать это разрешение */
  .top-menu ul li a {
    padding: 10px 8px;
  }
}

@media screen and (max-width: 1080px) {
  /* делать это разрешение */
  .top-menu ul li a {
    padding: 10px 8px;
  }

  .second-block-title {
    font-size: 33px;
  }

  .second-block-link a {
    font-size: 27px;
  }

  .mansdreams-text {
    right: -12px;
    top: 52px;
    font-size: 33px;
  }

  .block-answear {
    font-size: 22px;
  }

  .promise-block-discription {
    font-size: 33px;
  }

  .encounter-block-text span {
    font-size: 18px;
  }

  .block-qman-contant-text-b {
    font-size: 25px;
  }

  .block-discription {
    font-size: 20px;
  }

  .group-fon-school {
    font-size: 52px;
  }

  .utp-block {
    font-size: 40px;
  }

  .letme-title-text {
    font-size: 20px;
  }

  .four-reasons-descr {
    font-size: 14px;
  }

  .aftor-text-descr {
    font-size: 21px;
  }

  .create-website-title {
    font-size: 26px;
  }

  .create-website-result-ul ul {
    width: 82%;
  }

  .garanty-block-orange {
    font-size: 16px;
  }
}

/* первое разрешение под казачика */
@media only screen and (max-width: 1024px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 992px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 980px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 834px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 815px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 812px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 800px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 768px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 740px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 736px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 734px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 684px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 667px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 640px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 600px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 568px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 480px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 425px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 414px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 412px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 387px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 384px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 375px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 360px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 320px) {
  /* делать это разрешение */
}



/* ==========  Mobile First  ========== */




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)  */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
