
.menu {
  position: relative;
  margin: 10px auto;

  // padding-left: 1.25em;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.menu-global {
  position: absolute;
  left: 0;
  border-top: 3px solid #ffffff;
  width: 100%;
  backface-visibility: hidden;
  transition: 0.55s;
}

.menu-top {
  top: 0;
}

.menu-middle {
  top: 10px;
}

.menu-bottom {
  top: 20px;
}

.menu-top-click {
  top: 12px;
  backface-visibility: hidden;
  transform: rotate(45deg);

  //transition: 0.55s 0.5s;
}

.menu-middle-click {
  opacity: 0;
}

.menu-bottom-click {
  top: 12px;
  backface-visibility: hidden;
  transform: rotate(-405deg);

  // transition: 0.55s 0.5s;
}/* ==========  Desktop First  ========== */

@media only screen and (max-width: 1440px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 1336px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 1280px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 1200px) {
  /* делать это разрешение */
}

@media screen and (max-width: 1190px) {
  /* делать это разрешение */
  .top-menu ul li a {
    padding: 10px 8px;
  }
}

@media screen and (max-width: 1080px) {
  /* делать это разрешение */
  .top-menu ul li a {
    padding: 10px 8px;
  }

  .second-block-title {
    font-size: 33px;
  }

  .second-block-link a {
    font-size: 27px;
  }

  .mansdreams-text {
    right: -12px;
    top: 52px;
    font-size: 33px;
  }

  .block-answear {
    font-size: 22px;
  }

  .promise-block-discription {
    font-size: 33px;
  }

  .encounter-block-text span {
    font-size: 18px;
  }

  .block-qman-contant-text-b {
    font-size: 25px;
  }

  .block-discription {
    font-size: 20px;
  }

  .group-fon-school {
    font-size: 52px;
  }

  .utp-block {
    font-size: 40px;
  }

  .letme-title-text {
    font-size: 20px;
  }

  .four-reasons-descr {
    font-size: 14px;
  }

  .aftor-text-descr {
    font-size: 21px;
  }

  .create-website-title {
    font-size: 26px;
  }

  .create-website-result-ul ul {
    width: 82%;
  }

  .garanty-block-orange {
    font-size: 16px;
  }
}

/* первое разрешение под казачика */
@media only screen and (max-width: 1024px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 992px) {
  /* делать это разрешение */
  ul.link-center {
    width: 100%;
  }
}

@media only screen and (max-width: 980px) {
  /* делать это разрешение */
  .title-header {
    width: 63%;
  }
}

@media only screen and (max-width: 834px) {
  /* не обьязательно делать это разрешение */
  .second-block-fon {
    min-height: 830px;
  }

  .top-menu {
    position: absolute;
    right: -105%;
    top: 60px;
    background-color: #000000;
    transition: 1s ease-in-out;
  }

  .top-menu.active {
    right: 0;
  }

  .top-menu ul {
    padding: 10px 50px 40px;
  }

  .top-menu ul li {
    display: block;
  }

  .button_container {
    display: flex;
  }

  .title-header {
    width: 100%;
  }

  .second-block-title {
    font-size: 26px;
  }

  .second-block-link a {
    font-size: 20px;
  }

  .second-block-right,
  .second-block-left {
    width: 100%;
  }

  .second-block-left {
    min-height: 320px;
  }

  .second-block-img {
    right: 50%;
    bottom: 0;
    width: 312px;
    height: 300px;
    background-size: cover;
    transform: translateX(50%);
  }

  .second-block-text {
    margin-bottom: 2px;
    font-size: 18px;
  }

  .second-block-link {
    padding: 23px 0;
  }

  .second-block-right {
    padding-top: 14px;
  }

  // .second-block-fon {
  //   height: 800px;
  //   background-position: center top;
  // }

  .mansdreams {
    width: 75%;
  }

  .mansdreams-text {
    right: 19px;
    top: 58px;
  }

  .block-answear {
    font-size: 17px;
  }

  .block-discription-bottom {
    font-size: 32px;
  }

  .promise-block-discription {
    font-size: 27px;
  }

  .block-discription {
    font-size: 16px;
  }

  .group-fon-school {
    font-size: 40px;
  }

  .utp-block {
    font-size: 34px;
  }

  .four-reasons-img {
    margin-top: 0;
  }

  .four-reasons-img img {
    max-width: 77px;
  }

  .letme_items:last-child {
    margin-bottom: 0;
  }

  .foure_block {
    padding-top: 0;
  }

  .promise_wrapper {
    margin-top: 20px;
  }

  .promise_items {
    margin-bottom: 10px;
    width: 50%;
  }

  .sens__5,
  .sens__7 {
    width: 100%;
  }

  .create-website-duration img {
    margin: 0 auto;
  }

  .promise-block-text {
    font-size: 22px;
  }

  .letme_items,
  .pricer_box {
    margin: 0 auto 20px;
    width: 51%;
  }

  .garanty-block-dickr-text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 815px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 812px) {
  /* не обьязательно делать это разрешение */
  .faq-block-title {
    font-size: 22px;
  }

  .advise-block-text p {
    font-size: 16px;
  }

  .advise-block-text h3 {
    font-size: 27px;
  }

  .footer-block {
    display: flex;
    justify-content: space-between;
  }

  .footer-block-text {
    margin-left: 54px;
  }
}

@media only screen and (max-width: 800px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 768px) {
  /* делать это разрешение */
  .group-fon {
    margin-top: 75px;
  }

  .group-fon-school {
    padding: 27px 30px;
    font-size: 37px;
  }

  .utp-block {
    font-size: 32px;
  }

  .promise-block-text {
    font-size: 20px;
  }

  .advise-block-text h3 {
    font-size: 22px;
  }

  .advise-block-text p {
    font-size: 14px;
  }

  .encounter-block-number {
    padding: 0 3px;
    width: 55px;
  }

  .block-discription-bottom {
    font-size: 29px;
  }

  .block-answear {
    font-size: 16px;
  }

  .block-discription {
    font-size: 17px;
  }
}

@media only screen and (max-width: 740px) {
  /* не обьязательно делать это разрешение */
  .block-greenfon_wrapper .col-lg-3,
  .block-greenfon_wrapper .col-lg-9 {
    width: 100%;
  }

  // .block-greenfon_wrapper .col-lg-3 {
  //   order: 0;
  // }

  .block-greenfon_wrapper .col-lg-9 {
    order: 1;
  }

  .block-greenfon_wrapper .col-lg-3 .block-qman-contant-man img {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 736px) {
  /* делать это разрешение */
  .promise-block-discription {
    font-size: 24px;
  }

  .block-qman-contant {
    font-size: 21px;
  }

  .create-website-result-ul {
    margin: 20px 40px;
  }

  .create-website-duration {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 734px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 684px) {
  /* не обьязательно делать это разрешение */
  .title-header p {
    font-size: 20px;
  }

  .title-header h1 {
    font-size: 60px;
  }

  .title-header h1 span {
    font-size: 76px;
  }

  .title-header h3 {
    font-size: 18px;
  }

  .second-block-title {
    padding-bottom: 8px;
  }

  .block-discription {
    font-size: 22px;
  }

  .mansdreams-text {
    right: -9px;
    top: 44px;
  }

  .block-answear {
    font-size: 20px;
    line-height: 1.2;
  }

  .brick-wall-question {
    width: 100%;
  }

  .block-discription-bottom {
    line-height: 1.2;
  }

  .first__wrapper .col-lg-6 {
    margin-bottom: 10px;
    width: 100%;
  }

  .first__wrapper .col-md-6 {
    display: none;
  }

  .block-qman-contant-text-b {
    font-size: 23px;
  }

  .utp-block {
    font-size: 29px;
  }

  .group-fon-school {
    padding: 24px 30px;
  }

  .letme_items,
  .pricer_box {
    margin: 0 auto 20px;
    width: 70%;
  }

  .letme-title-text {
    margin-left: 10px;
  }

  .promise-block-text {
    font-size: 18px;
  }

  .price-title-big {
    font-size: 36px;
  }

  .advise-block-img {
    float: none;
  }

  .advise-block-text h3 {
    display: block;
    margin: 0 auto 20px;
    text-align: center;
  }

  .advise-block-text h3::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .faq-block-descr {
    font-size: 17px;
  }

  .advise-block-img img {
    display: block;
    margin: 0 auto 15px;
  }

  .block-qman-contant {
    font-size: 20px;
  }
}

@media only screen and (max-width: 667px) {
  /* делать это разрешение */
  .utp-block {
    font-size: 26px;
  }

  .autor__right {
    width: 100%;
  }

  .autor__left {
    width: 100%;
  }

  .footer__items {
    margin-bottom: 20px;
    width: 100%;
  }

  .footer-block {
    display: flex;
    justify-content: flex-start;
  }

  .footer-links li {
    margin-bottom: 10px;
  }

  .footer-paymant img {
    width: 70%;
  }
}

@media only screen and (max-width: 640px) {
  /* не обьязательно делать это разрешение */
  .title-header h3 {
    font-size: 16px;
  }

  .title-header h1 {
    font-size: 50px;
  }

  .title-header h1 span {
    font-size: 64px;
  }

  .mansdreams-text {
    right: -23px;
  }

  .group-fon-school {
    font-size: 32px;
  }

  .price-title-big {
    font-size: 33px;
  }
}

@media only screen and (max-width: 600px) {
  /* делать это разрешение */

  .second-block-fon {
    min-height: 900px;
  }

  .mansdreams-text {
    right: -34px;
    font-size: 28px;
  }

  .block-qman-contant-text-b {
    font-size: 20px;
  }

  .block-discription {
    font-size: 20px;
  }

  .utp-block {
    font-size: 24px;
  }

  .aftor-text-descr {
    width: 100%;
  }

  .block-prog-top {
    padding-top: 0;
  }

  .promise-block-text {
    margin-top: 20px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 568px) {
  /* делать это разрешение */
  .mansdreams-text {
    right: -44px;
    top: 33px;
  }

  .group-fon-school {
    font-size: 25px;
  }

  .utp-block {
    font-size: 21px;
  }

  .utp-block-b {
    font-size: 30px;
  }

  .promise-block-text {
    font-size: 15px;
  }

  .price-title-big {
    font-size: 28px;
  }

  .price-title {
    font-size: 18px;
  }

  .promise-block-discription {
    font-size: 22px;
  }

  .faq-block-title {
    font-size: 18px;
  }

  .faq-img img {
    width: 85%;
  }

  .faq-block-text {
    margin-left: 95px;
  }

  .title-header p {
    font-size: 17px;
  }

  .title-header h4 {
    padding: 2px 60px;
  }
}

@media only screen and (max-width: 480px) {
  /* делать это разрешение */
  .title-header h4 {
    padding: 2px 41px;
    font-size: 24px;
  }

  .calling-me ul li {
    display: block;
    text-align: left;
  }

  .calling-me ul li:not(:last-child) {
    margin-bottom: 15px;
  }

  .block-discription,
  .block-qman-contant-text-b {
    font-size: 19px;
  }

  .mansdreams-text {
    right: -44px;
    top: 38px;
  }

  .encounter-block-text {
    font-size: 16px;
  }

  .block-qman-contant {
    font-size: 18px;
  }

  // .block-discription,
  .block-qman-contant-text-b {
    font-size: 21px;
  }

  .advise-block-text-utp {
    margin: 20px 0;
  }

  .advise-block-fon-block {
    margin: 20px 30px;
  }

  .block-discription-bottom {
    font-size: 24px;
  }

  .utp-block {
    font-size: 18px;
  }

  .utp-block-b {
    font-size: 27px;
  }

  .letme_items,
  .pricer_box {
    width: 90%;
  }

  .promise_items {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .four-reasons-descr {
    font-size: 17px;
  }

  .mansdreams {
    width: 85%;
  }

  .price-title-big {
    font-size: 26px;
  }

  .advise-block-fon-block {
    margin: 20px;
  }

  .advise-block-fon-block::before {
    left: -23px;
    bottom: -35px;
  }

  .advise-block-fon-block::after {
    right: -23px;
    bottom: -35px;
  }
}

@media only screen and (max-width: 425px) {
  .header__img {
    padding-top: 95px;
  }

  .second-block-fon {
    min-height: 1048px;
  }

  .top-line-call a {
    font-size: 13px;
  }

  .title-header p {
    font-size: 13px;
  }

  .title-header h3 {
    font-size: 14px;
  }

  /* делать это разрешение */
  .mansdreams-text {
    right: 35px;
    top: 27px;
    width: 193px;
    font-size: 26px;
  }

  .group-fon-school {
    padding: 15px 30px;
    font-size: 18px;
  }

  .block-discription {
    font-size: 17px;
  }

  .utp-block {
    font-size: 16px;
  }

  .create-website-title {
    font-size: 23px;
  }

  .price-title-big {
    font-size: 22px;
  }

  .promise-block-discription {
    font-size: 17px;
  }

  .faq-img {
    display: none;
  }

  .faq-block-text {
    margin-left: 0;
  }

  .faq-block-descr ol {
    margin: 0 20px;
  }

  .utp-block-b {
    font-size: 24px;
  }
}

@media only screen and (max-width: 414px) {
  /* делать это разрешение */
  .button_container {
    margin-left: 11px;
  }

  .second-block-link a {
    font-size: 15px;
  }

  .mansdreams-text {
    font-size: 22px;
  }
}

@media only screen and (max-width: 412px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 387px) {
  /* не обьязательно делать это разрешение */
  .footer-links .css-label {
    margin-right: 20px;
    margin-left: 25px;
    font-size: 12px;
  }

  .top-line-call a {
    font-size: 10px;
  }

  .button_container {
    width: 30px;
  }

  .logo img {
    max-width: 90%;
  }

  .garanty-block-dickr-img {
    display: none;
  }

  .garanty-block-dickr-text {
    margin-left: 0;
  }

  .price-title-big {
    font-size: 20px;
  }

  .create-website-result-ul {
    margin: 20px 10px;
  }

  .aftor-text-descr,
  .create-website-title {
    font-size: 20px;
  }

  .mansdreams-text {
    right: 23px;
    font-size: 20px;
  }

  .second-block-link a {
    font-size: 14px;
  }

  .garanty-block-title {
    font-size: 22px;
  }

  .forms-calldecor h4 {
    margin: 30px 0 25px;
    font-size: 24px;
  }
}

@media only screen and (max-width: 384px) {
  /* делать это разрешение */
}

@media only screen and (max-width: 375px) {
  /* не обьязательно делать это разрешение */
}

@media only screen and (max-width: 360px) {
  /* делать это разрешение */
  .second-block-fon {
    min-height: 1070px;
  }
}

@media only screen and (max-width: 320px) {
  /* делать это разрешение */
}



/* ==========  Mobile First  ========== */




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)  */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
